.scripts/autobahn/reports
.vscode
**/*.rs.bk
**/curl
**/hpack-test-case
**/profile.json
**/proptest-regressions
**/rustc-ice-*.txt
**/target
mdbook-target
wtx-docs/book
wtx-fuzz/artifacts
wtx-fuzz/corpus