.env
.scripts/autobahn/reports
.vscode
**/*.rs.bk
**/curl
**/hpack-test-case
**/rustc-ice-*.txt
**/target
boringssl
callgrind*
limbo.json
mdbook-target
profile.json
profile.json.gz
wtx-docs/book
wtx-fuzz/corpus
wtx-fuzz/artifacts
wtx-fuzz/Cargo.lock
wtx-macros-tests/Cargo.lock