.env
.scripts/autobahn/reports
.vscode
**/*.rs.bk
**/curl
**/hpack-test-case
**/profile.json
**/rustc-ice-*.txt
**/target
**/Cargo.lock
boringssl
callgrind*
mdbook-target
wtx-docs/book
wtx-fuzz/artifacts
wtx-fuzz/corpus