[dependencies]
ahash = { default-features = false, features = ["no-rng"], optional = true, version = "0.8" }
arbitrary = { default-features = false, features = ["derive_arbitrary"], optional = true, version = "1.0" }
atoi = { default-features = false, optional = true, version = "2.0" }
base64 = { default-features = false, features = ["alloc"], optional = true, version = "0.22" }
borsh = { default-features = false, features = ["derive", "std"], optional = true, version = "1.0" }
chrono = { default-features = false, optional = true, version = "0.4" }
cl-aux = { default-features = false, optional = true, features = ["alloc"], version = "5.0" }
crypto-common = { default-features = false, optional = true, version = "0.1" }
digest = { default-features = false, features = ["mac"], optional = true, version = "0.10" }
fastrand = { default-features = false, optional = true, version = "2.0" }
flate2 = { default-features = false, features = ["zlib-rs"], optional = true, version = "1.0" }
hashbrown = { default-features = false, features = ["ahash", "allocator-api2", "inline-more"], optional = true, version = "0.14" }
hmac = { default-features = false, optional = true, version = "0.12" }
httparse = { default-features = false, optional = true, version = "1.0" }
memchr = { default-features = false, optional = true, version = "2.0" }
proptest = { default-features = false, features = ["alloc"], optional = true, version = "1.0" }
quick-protobuf = { default-features = false, optional = true, version = "0.8" }
rand = { default-features = false, features = ["small_rng"], optional = true, version = "0.8" }
ring = { default-features = false, optional = true, version = "0.17" }
rkyv = { default-features = false, features = ["validation"], optional = true, version = "0.7" }
rust_decimal = { default-features = false, features = ["maths"], optional = true, version = "1.0" }
rustls-pemfile = { default-features = false, features = ["std"], optional = true, version = "2.0" }
rustls-pki-types = { default-features = false, optional = true, version = "1.0" }
serde = { default-features = false, features = ["alloc", "derive"], optional = true, version = "1.0" }
serde_json = { default-features = false, features = ["alloc"], optional = true, version = "1.0" }
sha1 = { default-features = false, optional = true, version = "0.10" }
sha2 = { default-features = false, optional = true, version = "0.10" }
simdutf8 = { default-features = false, features = ["aarch64_neon"], optional = true, version = "0.1" }
test-strategy = { default-features = false, optional = true, version = "0.4" }
tokio = { default-features = false, features = ["io-util", "net", "rt", "sync", "time"], optional = true, version = "1.0" }
tokio-rustls = { default-features = false, features = ["ring"], optional = true, version = "0.26" }
tracing = { default-features = false, features = ["attributes"], optional = true, version = "0.1" }
tracing-subscriber = { default-features = false, features = ["env-filter", "fmt"], optional = true, version = "0.3" }
tracing-tree = { default-features = false, optional = true, version = "0.4" }
webpki-roots = { default-features = false, optional = true, version = "0.26" }
x509-certificate = { default-features = false, optional = true, version = "0.23" }

[dev-dependencies]
tokio = { default-features = false, features = ["macros", "net", "rt-multi-thread", "time"], version = "1.0" }
wtx = { default-features = false, features = ["std", "tokio"], path = "./" }

[features]
ahash = ["dep:ahash", "hashbrown?/ahash"]
arbitrary = ["dep:arbitrary", "std"]
atoi = ["dep:atoi"]
base64 = ["dep:base64"]
borsh = ["dep:borsh", "std"]
chrono = ["dep:chrono"]
cl-aux = ["dep:cl-aux"]
client-api-framework = ["data-transformation"]
crypto-common = ["dep:crypto-common"]
data-transformation = []
database = []
default = []
digest = ["dep:digest"]
fastrand = ["dep:fastrand"]
flate2 = ["dep:flate2"]
hashbrown = ["dep:hashbrown"]
hmac = ["dep:hmac"]
grpc = ["data-transformation", "http-client-framework", "http-server-framework"]
http = []
http-client-framework = ["http2", "pool", "std"]
http-server-framework = ["http2", "tokio"]
http2 = ["ahash", "hashbrown", "http"]
httparse = ["dep:httparse"]
memchr = ["dep:memchr"]
optimization = ["atoi", "memchr", "simdutf8"]
pool = []
postgres = ["ahash", "base64", "crypto-common", "database", "digest", "hashbrown", "hmac", "sha2"]
proptest = ["dep:proptest"]
quick-protobuf = ["dep:quick-protobuf", "std"]
rand = ["dep:rand"]
ring = ["dep:ring"]
rkyv = ["dep:rkyv"]
rust_decimal = ["dep:rust_decimal"]
schema-manager = ["database", "chrono"]
schema-manager-dev = ["schema-manager"]
serde = ["cl-aux?/serde", "dep:serde"]
serde_json = ["serde", "dep:serde_json", "std"]
sha1 = ["dep:sha1"]
sha2 = ["dep:sha2"]
simdutf8 = ["dep:simdutf8"]
std = ["ahash?/std", "atoi?/std", "cl-aux?/std", "memchr?/std", "serde?/std", "serde_json?/std", "simdutf8?/std"]
test-strategy = ["dep:test-strategy", "proptest", "std"]
tokio = ["std", "dep:tokio"]
tokio-rustls = ["ring", "dep:rustls-pemfile", "dep:rustls-pki-types", "tokio", "dep:tokio-rustls"]
tracing = ["dep:tracing"]
tracing-subscriber = ["dep:tracing-subscriber"]
web-socket = ["http"]
web-socket-handshake = ["base64", "httparse", "sha1", "web-socket"]
webpki-roots = ["dep:webpki-roots"]
x509-certificate = ["dep:x509-certificate"]

_bench = []
_hack = ["rkyv?/size_32"]
_integration-tests = ["serde_json?/raw_value"]
_proptest = ["proptest/std", "rust_decimal?/proptest", "std", "test-strategy"]
_tracing-tree = ["tracing", "tracing-subscriber", "dep:tracing-tree"]

[package]
authors = ["Caio Fernandes <c410.f3r@gmail.com>"]
categories = ["asynchronous", "database", "network-programming", "no-std", "web-programming"]
description = "A collection of different transport implementations and related tools focused primarily on web technologies."
documentation = "https://docs.rs/wtx"
edition = "2021"
exclude = ["tests"]
homepage = "https://c410-f3r.github.io/wtx"
keywords = ["api", "database", "http", "network", "websocket"]
license = "Apache-2.0"
name = "wtx"
readme = "README.md"
repository = "https://github.com/c410-f3r/wtx"
version = "0.16.0"

[package.metadata.docs.rs]
all-features = true
