[[bin]]
name = "autobahn-client"
required-features = ["flate2", "tokio/rt-multi-thread", "web-socket-handshake"]

[[bin]]
name = "autobahn-server"
required-features = ["flate2", "tokio/rt-multi-thread", "web-socket-handshake"]

[[example]]
name = "database-client-postgres-tokio-rustls"
required-features = ["_tokio-rustls-client", "postgres" ]

[[example]]
name = "web-socket-client-cli-raw-tokio-rustls"
required-features = ["_tokio-rustls-client", "web-socket-handshake"]

[[example]]
name = "web-socket-server-echo-raw-async-std"
required-features = ["async-std/attributes", "web-socket-handshake"]

[[example]]
name = "web-socket-server-echo-raw-glommio"
required-features = ["glommio", "web-socket-handshake"]

[[example]]
name = "web-socket-server-echo-raw-smol"
required-features = ["smol", "web-socket-handshake"]

[[example]]
name = "web-socket-server-echo-raw-tokio"
required-features = ["tokio", "web-socket-handshake"]

[[example]]
name = "web-socket-server-echo-raw-tokio-rustls"
required-features = ["_tokio-rustls-server", "web-socket-handshake"]

[[example]]
name = "web-socket-server-pool-raw-tokio"
required-features = ["deadpool", "web-socket-handshake"]

[dependencies]
ahash = { default-features = false, optional = true, version = "0.8" }
arbitrary = { default-features = false, features = ["derive_arbitrary"], optional = true, version = "1.0" }
arrayvec = { default-features = false, optional = true, version = "0.7" }
async-std = { default-features = false, features = ["default"], optional = true, version = "1.0" }
async-trait = { default-features = false, optional = true, version = "0.1" }
atoi = { default-features = false, optional = true, version = "2.0" }
base64 = { default-features = false, features = ["alloc"], optional = true, version = "0.21" }
borsh = { default-features = false, features = ["derive", "std"], optional = true, version = "1.1" }
chrono = { default-features = false, optional = true, version = "0.4" }
cl-aux = { default-features = false, optional = true, features = ["alloc"], version = "4.0" }
crypto-common = { default-features = false, optional = true, version = "0.1" }
deadpool = { default-features = false, features = ["managed", "unmanaged"], optional = true, version = "0.10" }
digest = { default-features = false, features = ["mac"], optional = true, version = "0.10" }
embassy-net = { default-features = false, features = ["tcp"], optional = true, version = "0.2" }
embedded-io-async = { default-features = false, optional = true, version = "0.6" }
embedded-tls = { default-features = false, features = ["async"], optional = true, version = "0.16" }
fastrand = { default-features = false, optional = true, version = "2.0" }
flate2 = { default-features = false, features = ["zlib-ng"], optional = true, version = "1.0" }
futures = { default-features = false, optional = true, version = "0.3" }
futures-lite = { default-features = false, optional = true, version = "1.0" }
glommio = { default-features = false, optional = true, version = "0.8" }
hashbrown = { default-features = false, features = ["ahash", "allocator-api2", "inline-more"], optional = true, version = "0.14" }
hmac = { default-features = false, optional = true, version = "0.12" }
httparse = { default-features = false, optional = true, version = "1.0" }
md-5 = { default-features = false, optional = true, version = "0.10" }
miniserde = { default-features = false, optional = true, version = "0.1" }
proptest = { default-features = false, features = ["alloc"], optional = true, version = "1.0" }
protobuf = { default-features = false, optional = true, version = "3.0" }
rand = { default-features = false, features = ["small_rng"], optional = true, version = "0.8" }
reqwest = { default-features = false, optional = true, version = "0.11" }
ring = { default-features = false, optional = true, version = "0.17" }
rkyv = { default-features = false, features = ["validation"], optional = true, version = "0.7" }
rust_decimal = { default-features = false, optional = true, version = "1.0" }
rustls-pemfile = { default-features = false, features = ["std"], optional = true, version = "2.0" }
rustls-pki-types = { default-features = false, optional = true, version = "1.0" }
serde = { default-features = false, features = ["alloc", "derive"], optional = true, version = "1.0" }
serde_json = { default-features = false, features = ["alloc"], optional = true, version = "1.0" }
serde_yaml = { default-features = false, optional = true, version = "0.9" }
serde-xml-rs = { default-features = false, optional = true, version = "0.6" }
sha1 = { default-features = false, optional = true, version = "0.10" }
sha2 = { default-features = false, optional = true, version = "0.10" }
simd-json = { default-features = false, features = ["serde_impl"], optional = true, version = "0.11" }
simdutf8 = { default-features = false, features = ["aarch64_neon"], optional = true, version = "0.1" }
smallvec = { default-features = false, features = ["const_generics", "union"], optional = true, version = "1.0" }
smol = { default-features = false, optional = true, version = "1.0" }
test-strategy = { default-features = false, optional = true, version = "0.3" }
tokio = { default-features = false, features = ["io-util", "net"], optional = true, version = "1.0" }
tokio-rustls = { default-features = false, features = ["ring"], optional = true, version = "0.25" }
tracing = { default-features = false, features = ["attributes"], optional = true, version = "0.1" }
tracing-subscriber = { default-features = false, features = ["env-filter", "fmt"], optional = true, version = "0.3" }
tracing-tree = { default-features = false, optional = true, version = "0.3" }
webpki-roots = { default-features = false, optional = true, version = "0.26" }

[dev-dependencies]
chrono = { default-features = false, features = ["clock"], version = "0.4" }
tokio = { default-features = false, features = ["macros", "net", "rt-multi-thread", "time"], version = "1.0" }

[features]
ahash = ["dep:ahash", "hashbrown?/ahash"]
arbitrary = ["dep:arbitrary", "std"]
async-send = []
async-std = ["dep:async-std", "std"]
borsh = ["dep:borsh", "std"]
client-api-framework = ["cl-aux"]
database = ["arrayvec"]
deadpool = ["dep:async-trait", "dep:deadpool"]
default = []
embedded-tls = ["dep:embedded-io-async", "dep:embedded-tls"]
glommio = ["futures-lite", "dep:glommio", "std"]
http1 = ["httparse"]
miniserde = ["dep:miniserde", "std"]
orm = ["database", "dep:smallvec"]
postgres = ["ahash", "base64", "crypto-common", "database", "digest", "hashbrown", "md-5", "hmac", "sha2"]
protobuf = ["dep:protobuf", "std"]
serde = ["arrayvec?/serde", "cl-aux?/serde", "dep:serde"]
serde_json = ["serde", "dep:serde_json", "std"]
serde_yaml = ["serde", "dep:serde_yaml", "std"]
serde-xml-rs = ["serde", "dep:serde-xml-rs", "std"]
simd-json = ["serde", "dep:simd-json", "std"]
sm = ["database", "chrono"]
sm-dev = ["sm"]
smol = ["dep:smol", "std"]
std = ["arrayvec?/std", "cl-aux?/std", "miniserde?/std", "serde?/std", "serde_json?/std"]
tokio = ["std", "dep:tokio"]
tokio-rustls = ["ring", "tokio", "dep:tokio-rustls"]
web-socket = []
web-socket-handshake = ["base64", "http1", "sha1", "web-socket"]

_bench = []
# It is not up to this crate to decide what downstream should use
_hack = ["embassy-net?/medium-ip", "embassy-net?/proto-ipv4", "rkyv?/size_32", "simd-json?/allow-non-simd"]
_integration-tests = []
_proptest = ["proptest", "std", "test-strategy"]
_tokio-rustls-client = ["rustls-pemfile", "rustls-pki-types", "tokio-rustls/tls12", "webpki-roots"]
_tokio-rustls-server = ["rustls-pemfile", "tokio-rustls"]
_tracing-subscriber = ["tracing", "dep:tracing-subscriber", "dep:tracing-tree"]

[package]
authors = ["Caio Fernandes <c410.f3r@gmail.com>"]
categories = ["asynchronous", "database", "encoding", "network-programming", "no-std", "web-programming"]
description = "A collection of different transport implementations and related tools focused primarily on web technologies."
documentation = "https://docs.rs/wtx"
edition = "2021"
exclude = ["README.md", "examples", "src/bin", "tests"]
homepage = "https://c410-f3r.github.io/wtx"
keywords = ["api", "client", "database", "network", "orm", "serialization", "websocket"]
license = "Apache-2.0"
name = "wtx"
readme = "README.md"
repository = "https://github.com/c410-f3r/wtx"
version = "0.11.0"

[package.metadata.docs.rs]
all-features = true
