version: "3"

services:
    # MySQL

    mariadb_11:
        environment:
            MARIADB_DATABASE: wtx
            MARIADB_PASSWORD: wtx
            MARIADB_ROOT_PASSWORD: wtx
            MARIADB_USER: wtx
        image: docker.io/mariadb:11
        ports:
            - 3306:3306
        volumes:
            - ../.test-utils/my.cnf:/etc/mysql/my.cnf
            - ../.test-utils/mysql.sh:/docker-entrypoint-initdb.d/setup.sh

    mysql_9:
        environment:
            MYSQL_DATABASE: wtx
            MYSQL_PASSWORD: wtx
            MYSQL_ROOT_HOST: '%'
            MYSQL_ROOT_PASSWORD: wtx
            MYSQL_USER: wtx
        image: docker.io/mysql:9
        ports:
            - 3307:3306
        volumes:
            - ../.test-utils/my.cnf:/etc/mysql/my.cnf
            - ../.test-utils/mysql.sh:/docker-entrypoint-initdb.d/setup.sh

    percona_9:
        environment:
            MYSQL_DATABASE: wtx
            MYSQL_PASSWORD: wtx
            MYSQL_ROOT_PASSWORD: wtx
            MYSQL_USER: wtx
        image: docker.io/percona:8
        ports:
            - 3308:3306
        volumes:
            - ../.test-utils/my.cnf:/etc/mysql/my.cnf
            - ../.test-utils/mysql.sh:/docker-entrypoint-initdb.d/setup.sh

    # PostgreSQL

    postgres_scram:
        environment:
            POSTGRES_DB: wtx
            POSTGRES_PASSWORD: wtx
        image: docker.io/postgres:18
        ports:
            - 5432:5432
        volumes:
            - ../.test-utils/postgres.sh:/docker-entrypoint-initdb.d/setup.sh
