name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  internal-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - script: internal-tests0.sh
          - script: internal-tests1.sh
          - script: internal-tests2.sh
          - script: internal-tests3.sh
            install-crate: mdbook
          - script: internal-tests4.sh
            install-crate: cargo-fuzz
          - script: internal-tests5.sh
    steps:
      - uses: actions/checkout@v6
      - if: matrix.install-crate
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: ${{ matrix.install-crate }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          toolchain: nightly-2025-10-31
      - uses: Swatinem/rust-cache@v2
      - run: .scripts/${{ matrix.script }}

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scripts: [integration-tests, integration-tests-mysql]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2025-10-31
      - uses: Swatinem/rust-cache@v2
      - run: sudo apt install docker-compose -y
      - run: docker compose -f .test-utils/docker-compose.yml up -d --wait
      - run: .scripts/${{ matrix.scripts }}.sh

  other-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scripts: [
          '.scripts/autobahn-fuzzingclient.sh ci',
          '.scripts/autobahn-fuzzingserver.sh ci',
          '.scripts/autobahn-fuzzingserver-concurrent.sh ci',
          '.scripts/h2load.sh ci',
          '.scripts/h2spec.sh high ci',
          '.scripts/h2spec.sh low ci'
        ]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2025-10-31
      - uses: Swatinem/rust-cache@v2
      - run: sudo apt install nghttp2-client -y
      - run: ${{ matrix.scripts }}
